

/*---------------------------------------
   9 Testimonial section              
-----------------------------------------*/

#testimonial .item p {
    font-size: 19px;
    line-height: 30px;
    font-style: italic;
  }
  
  .tst-author {
    margin-top: 32px;
  }
  
  .tst-author .tst-foto {
    display: inline-block;
    overflow: hidden;
    width: 80px;
    height: 80px;
    padding: 4px;
    margin-right: 16px;
  }
  
  .tst-author .tst-foto img {
    border-radius: 15px;
  }
  
  .tst-author .tst-author-info {
    display: inline-block;
    text-align: left;
    width: auto;
    position: relative;
    top: -28px;
  }
  
  .tst-author .tst-author-info h4 {
    margin-bottom: 4px;
  }
  
  .tst-author .tst-author-info h5 {
    letter-spacing: 0.3px;
    margin-top: 0px;
  }
  